{% load static %}
<!DOCTYPE html>
<html  lang="en">
<head>
  <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static '/activitypoint/images/icons/favicon.ico'%}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/activitypoint/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/activitypoint/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/activitypoint/vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/activitypoint/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/activitypoint/vendor/perfect-scrollbar/perfect-scrollbar.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/activitypoint/css/util.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static '/activitypoint/css/main.css'%}">
<!--===============================================================================================-->
</head>

<body>
  <div class="limiter">
  
    <div class="container-table100" style="background-image: url('/static/activitypoint/images/bg.jpeg');">
      <div class="wrap-table100">
        <h1 style="color: white;"><legend>KTU ACTIVITY POINTS-MEC</legend></h1>
        <p style="color: white;">{{name}}</p>
        <p style="color: white;">{{class}}</p>
        <p id="atag" style="margin-bottom: 30px;"><a href="{% url 'home' %}">Claim Activity Points</a></p>
        <div class="table100">
   
          <table>
            <thead>
              <tr class="table100-head">
    <th class="col">Activity</th>
    <th  class="col">Points</th>
    <th  class="col">Document</th>
    <th  class="col">Status</th>
    <th  class="col">Date Added</th>
    <th  class="col">Notes</th>
    <th  class="col">Action</th>
  </tr>
  <tbody>
  {% for instance in object %}
  <tr>
    <td  class="col">{{instance.get_activity_display}}</td>
    <td  class="col">{{instance.points}}</td>
    <td  class="col"><a href="{{instance.document.url}}"  target="_blank">View</a></td>
    <td  class="col">{{instance.status}}</td>
    <td  class="col">{{instance.date}}</td>
    <td  class="col">{{instance.notes}}</td>
    <td  class="col">
        <form method="POST" action="{% url 'deletepoints' instance.id %}">
            {%csrf_token%}
          <button type="submit">Delete</button>  
        </form>
    </td>
  </tr>
  {% endfor %}
  </tbody>
  </table>
</div>
</div>
</div>
</div>
<!--===============================================================================================-->	
<script src="{% static '/activitypoint/vendor/jquery/jquery-3.2.1.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static '/activitypoint/vendor/bootstrap/js/popper.js'%}"></script>
	<script src="{% static '/activitypoint/vendor/bootstrap/js/bootstrap.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static '/activitypoint/vendor/select2/select2.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static '/activitypoint/js/main.js'%}"></script>

  </body>
  </html>