{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static '/activitypoint/images/icons/favicon.ico'%}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/activitypoint/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/activitypoint/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/activitypoint/vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/activitypoint/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/activitypoint/vendor/perfect-scrollbar/perfect-scrollbar.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/activitypoint/css/util.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static '/activitypoint/css/main.css'%}">
<!--===============================================================================================-->
</head>
<body>

	
<div class="limiter">
  <div class="container-table100" style="background-image: url('/static/activitypoint/images/bg.jpeg');">
    <div class="wrap-table100">
      <h1 style="color: white;"><legend>Activity Points of Class {{class}}</legend></h1>
      <p style="color: white;">Teacher: {{name}}</p>
        <p id="pdf"><a href="http://www.bmce.ac.in/pdf/B.TechActivityPoints.pdf" target="_blank">PDF for Activity Points</a></p>
      <br>
    
      <div class="table100">
        <table>
          <thead>
            <tr class="table100-head">
<th class="col">Student</th>
<th class="col">Activity</th>
<th class="col">Activity Level</th>
<th class="col">Prize</th>
<th class="col">Involvement Level</th>
<th class="col">Document</th>
<th class="col">Year</th>
<th class="col">Notes</th>
<th class="col">Date Added</th>
<th class="col">Points</th>
<th class="col">Status</th>
<th class="col">Update</th>
</tr>
          </thead>
<tbody>
{%for instance in object_list %}
<tr>
<td class="col" >{{instance.student.first_name}} {{instance.student.last_name}}</td>
<td class="col" >{{instance.get_activity_display}}</td>
<td class="col" >{{instance.get_activitylevel_display}}</td>
<td class="col" >{{instance.get_prize_display}}</td>
<td class="col" style="cursor: default;">{{instance.get_involvement_display}}</td>
<td class="col"><button><a href="{{instance.document.url}}" target="_blank">Download</a></button></td>
<td class="col" style="cursor: default;">{{instance.get_year_display}}</td>
<td class="col" style="cursor: default;">{{instance.notes}}</td>
<td class="col" style="cursor: default;">{{instance.date}}</td>
<form action="{% url 'update_points' instance.id %}" method="POST">{%csrf_token%}
<td class="col"><input type="number" name="points"></td>
<td class="col"><select name="status">
    <option value="approved">APPROVE</option>
    <option value="rejected">REJECT</option>
    <option value="pending">PENDING</option>
</select></td>
<td class="col"><button type="submit" >UPDATE</button></td>
</form>
</tr>
{% endfor %}
</tbody>
</table>
</div>

			</div>
		</div>
	</div>

<!--===============================================================================================-->	
<script src="{% static '/activitypoint/vendor/jquery/jquery-3.2.1.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static '/activitypoint/vendor/bootstrap/js/popper.js'%}"></script>
	<script src="{% static '/activitypoint/vendor/bootstrap/js/bootstrap.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static '/activitypoint/vendor/select2/select2.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static '/activitypoint/js/main.js'%}"></script>
</body>
</html>