{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Marks</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static '/internal/images/icons/favicon.ico'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/internal/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/internal/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/internal/vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/internal/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/internal/vendor/perfect-scrollbar/perfect-scrollbar.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/internal/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static '/internal/css/main.css' %}">
<!--===============================================================================================-->
</head>
<body>
    <div class="limiter">
        <div class="container-table100">
          <div class="wrap-table100">
            <div class="table100">

            <table>
                <thead>
                    <tr>
                <th class="col">Subject</th>
                <th class="col">Assignment</th>
                <th class="col">Due Date</th>
                <th class="col">Status</th>
                <th class="col">View</th>
        </tr>
    </thead>
    {% for a in studassignment %}
    <tbody>
        <tr>
            <td class="col">{{a.assignment.subject.subject_name}}</td>
            <td class="col">{{a.assignment.assignment_name}}</td>
            <td class="col">{{a.assignment.due_date}}</td>
            <td class="col">{{a.status}}</td>
            <td class="col"><a href="studassignsub/{{a.id}}/">View</a></td>
        </tr>
    </tbody>
    {% endfor %}
</div>
</div>
</div>
</div>
<!--===============================================================================================-->	
<script src="{% static '/internal/vendor/jquery/jquery-3.2.1.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static '/internal/vendor/bootstrap/js/popper.js'%}"></script>
	<script src="{% static '/internal/vendor/bootstrap/js/bootstrap.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static '/internal/vendor/select2/select2.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static 'internal/js/main.js'%}"></script>

  </body>
  </html>
</table>