<!DOCTYPE html>
<html lang="en">
<head>
	<title>CMS Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static '/authentication/images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href='{% static "/authentication/vendor/bootstrap/css/bootstrap.min.css" %}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href='{% static "/authentication/fonts/font-awesome-4.7.0/css/font-awesome.min.css" %}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href='{% static "/authentication/fonts/Linearicons-Free-v1.0.0/icon-font.min.css" %}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href='{% static "/authentication/vendor/animate/animate.css" %}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href='{% static "/authentication/vendor/css-hamburgers/hamburgers.min.css" %}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href='{% static "/authentication/vendor/animsition/css/animsition.min.css" %}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href='{% static "/authentication/vendor/select2/select2.min.css" %}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href='{% static "/authentication/vendor/daterangepicker/daterangepicker.css" %}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href='{% static "/authentication/css/util.css" %}'>
	<link rel="stylesheet" type="text/css" href='{% static "/authentication/css/main.css" %}'>
<!--===============================================================================================-->
<style>
a:hover {
  color: hotpink;
}
</style>
</head>
<body>

  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <p><b><h3 style="color:White;">Model Engineering COllege</h3></b></p>
      </li>
    </ul>
  </nav>

	<div class="limiter">
		<div class="container-login100" style="background-image: url({% static 'authentication/images/bg-01.jpg' %});">
			<div class="wrap-login100 p-t-30 p-b-50">
				<span class="login100-form-title p-b-41">
					Account Login
				</span>
				<form class="login100-form validate-form p-b-33 p-t-5" form_id="login_form" method="post"
                  action="{% url 'login' %}">
           {% csrf_token %}
					<div class="wrap-input100 validate-input" data-validate = "Enter username">
						<input class="input100" type="text" id="id_username" name="username" placeholder="User name">
						<span class="focus-input100" data-placeholder="&#xe82a;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<input class="input100" type="password" id="id_password" name="password" placeholder="Password">
						<span class="focus-input100" data-placeholder="&#xe80f;"></span>
					</div>

<!--          {% if form.errors %}
                    <p class="text-center">
                        Your username and password didn't match.<br>
                        Please try again.
                    </p>
                    <div class="container-login100-form-btn m-t-32">
          						<a class="login100-form-btn" href="{% url 'password_reset' %}">Forgot Password?</a>
          					</div>

          {% endif %}
-->
					<div class="container-login100-form-btn m-t-32">
						<button class="login100-form-btn">
							Login
						</button>
					</div>
          <input type="hidden" name="next" value="{{ next }}" />
					<div class="login100-form-title m-t-32">
						<a href="{% url 'password_reset' %}">Forgot Password?</a>
					</div>

				</form>
			</div>
		</div>
	</div>


	<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
	<script src='{% static "/authentication/vendor/jquery/jquery-3.2.1.min.js" %}'></script>
<!--===============================================================================================-->
	<script src='{% static "/authentication/vendor/animsition/js/animsition.min.js" %}'></script>
<!--===============================================================================================-->
	<script src='{% static "/authentication/vendor/bootstrap/js/popper.js" %}'></script>
	<script src='{% static "/authentication/vendor/bootstrap/js/bootstrap.min.js" %}'></script>
<!--===============================================================================================-->
	<script src='{% static "/authentication/vendor/select2/select2.min.js" %}'></script>
<!--===============================================================================================-->
	<script src='{% static "/authentication/vendor/daterangepicker/moment.min.js" %}'></script>
	<script src='{% static "/authentication/vendor/daterangepicker/daterangepicker.js" %}'></script>
<!--===============================================================================================-->
	<script src='{% static "/authentication/vendor/countdowntime/countdowntime.js" %}'></script>
<!--===============================================================================================-->
	<script src='{% static "/authentication/js/main.js" %}'></script>

</body>
</html>
