<!DOCTYPE html>
<html lang="en">
<head>
	<title>Forgot Password</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href='{% static "/authentication/vendor/bootstrap/css/bootstrap.min.css" %}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href='{% static "/authentication/fonts/font-awesome-4.7.0/css/font-awesome.min.css" %}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href='{% static "/authentication/fonts/Linearicons-Free-v1.0.0/icon-font.min.css" %}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href='{% static "/authentication/css/util.css" %}'>
	<link rel="stylesheet" type="text/css" href='{% static "/authentication/css/main.css" %}'>
<!--===============================================================================================-->
</head>
<body>

  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <p style="color:White;"><b><h3>Model Engineering COllege</h3></b></p>
      </li>
    </ul>
  </nav>

	<div class="limiter">
		<div class="container-login100" style="background-image: url({% static 'authentication/images/bg-01.jpg' %});">
			<div class="wrap-login100 p-t-30 p-b-50">
				<span class="login100-form-title p-b-50">
					forgot password
				</span>
        <form class="login100-form validate-form p-b-33 p-t-5" form_id="email_form" method="post" action="{% url 'password_reset' %}">
           {% csrf_token %}
           <div class="wrap-input100 validate-input" data-validate = "Enter email">
 						<input class="input100" type="email" id="id_email" name="email" placeholder="Enter registered email">
 						<span class="focus-input100" data-placeholder="&#xe82a;"></span>
 					</div>
         <div class="container-login100-form-btn m-t-32">
           <button class="login100-form-btn" type="submit">
             Submit
           </button>
        </div>
        </form>
			</div>
		</div>
	</div>

</body>
</html>
