<!DOCTYPE html>
<html lang="en">
<head>
	<title>Forgot Password</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href='{% static "/authentication/vendor/bootstrap/css/bootstrap.min.css" %}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href='{% static "/authentication/fonts/font-awesome-4.7.0/css/font-awesome.min.css" %}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href='{% static "/authentication/fonts/Linearicons-Free-v1.0.0/icon-font.min.css" %}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href='{% static "/authentication/css/util.css" %}'>
	<link rel="stylesheet" type="text/css" href='{% static "/authentication/css/main.css" %}'>
<!--===============================================================================================-->
</head>
<body>

  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <p><b><h3 style="color:White;">Model Engineering COllege</h3></b></p>
      </li>
    </ul>
  </nav>

	<div class="limiter">
		<div class="container-login100" style="background-image: url({% static 'authentication/images/bg-01.jpg' %});">
			<div class="wrap-login100 p-t-30 p-b-50">
				<span class="login100-form-title p-b-50">
					check your email
				</span>
        <p><h6 style="color:White;">We've emailed you instructions for setting your password, if an account exists with the email you entered.
        You should receive them shortly.<br><br>If you don't receive an email, please make sure you've entered the address you registered with,
        and check your spam folder.</h6></p>
			</div>
		</div>
	</div>

</body>
</html>
